<?xml version="1.0"?>
<ruleset name="Relevanssi Light Coding Standards">
	<description>Apply WordPress Coding Standards to Relevanssi Light files</description>

	<arg name="extensions" value="php" />
	<arg name="colors"/>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />
    <rule ref="PHPCompatibility" />
    <rule ref="PHPCompatibilityWP" />

	<exclude-pattern>/.history/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<config name="testVersion" value="7.0-"/>
</ruleset>